@charset "UTF-8";
/* Body */
body {
	font-family: Verdana;
	background-color: var(--background);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}


/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: auto;
	display: flex;
	flex-direction: column;
	
}

.header_div {
	width: auto;
	height: auto;
	;
	
	display: flex;
	flex-direction: column;
}


.header_1 {
	width: 90vw;
	height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: var(--navbar);
	
}

.header_1 a  {
	color: var(--text1);
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	
	
	
	
	
}

.header_1 a:hover {
	color: var(--text2);
}


.header_1 .logo_star_button, .header_1 .title_button, .header_1 .skip {
	width: 12%;
	height: auto;
	padding: 0px;
	

	margin-left: 0px;
	margin-right: 0px;

	display: flex;               
	justify-content: center;     
	align-items: center;         
}

.skip {
	text-align: right;
	
}



.header_1 .logo_star_button {
	order: 1;
	display: flex;
	justify-content: left;
	
}

.title_button {
	order: 2;
}

.skip {
	order: 3;

	font-size: 1.5rem;
}

.header_1 .logo_star_button .logoStar{
	width: 30%;
	
}


.header_1 .title_button h4{
	font-size: 1.5rem;
	
}


.header_2_div {
	margin-top: 10px;
	margin-bottom: 10px;
}


.header_2 {
	width: 90vw;
	height: auto;
	background-color: var(--navbar);
	border-bottom: 1px solid var(--navbar);
	border: 1px solid var(--navbar);


	
}



.header_2 a  {
	color: #FFFFFF;
	text-decoration: none;
	
	font-weight: bold;
	
	
}

.header_2 a:hover {
	color: var(--text2);
}

.header_2 ol {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;

	text-decoration: none;
}

.header_2 ol li {
	list-style-type: none;
	


	display: flex;               
	justify-content: center;     
	align-items: center;         
	
}

.hero_home {
	width: 90vw;
	height: 50vh;
	background-color: var(--text1);
	border-bottom: 1px solid -var(--navbar);
	border: 1px solid #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;     
	align-items: center;         
	
}

.hero_home h2 span{
	font-size: 2rem;
	color: #ffffff;
	margin-bottom: 0px;
}

.hero_home .sustain_text p {
	font-size: 1.5rem;
	color: #ffffff;
	text-align: center;
	margin-top: 0px;
}



.hero {
	width: 90vw;
	height: 20vh;
	background-color: var(--text1);
	border-bottom: 1px solid var(--navbar);
	border: 1px solid #FFFFFF;
	display: flex;
	flex-direction: column; 
	justify-content: center;
	align-items: center;   
	column-gap: 0px;
	     
	
}

.hero h2{
	font-size: 2rem;
	color: #ffffff;
	margin-bottom: 0px;
}

.hero p {
	font-size: 1.5rem;
	color: #ffffff;
	text-align: center;
	margin-top: 0px;
}

.sustain_gif, .sustain_text {
	
	height: auto;
	
	padding: 50px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.sustain_text {
	flex-direction: column;
}

.sustain_gif img {
	        
	height: auto;       
	max-width: 100%;    
	min-width: 100px;   
}

.sustain_text h2 {
	font-size: 2rem;
	color: #fff9e3;
	
}

.sustain_text p {
	font-size: 1.5rem;
	color: #fff9e3;
	text-align: center;
}

.banner {
	width: 90vw;
	height: 50vh;
	background-color: rgb(169, 226, 255);
	border-bottom: 1px solid var(--navbar);
	border: 1px solid #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: center;     
	align-items: center;         
}

.shop_text, .photopromo {
	width: 50%;
	height: auto;
	padding: 50px;
	display: flex;
	
}

.shop_text {
	flex-direction: column;
	text-align: center;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.photopromo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax_description a {
	color: #ffffff;
	padding: 15px;
	text-decoration: none;

	font-weight: bold;
	border: 2px solid;
	border-color: #ffffff;
	font-size: 2rem;
	
}
.world_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.world a {
	border: 3px solid;
	border-color: azure;
}

.world a:hover {
	border: 3px solid;
	background-color: gray;
}


.shop_text h2 {
	font-size: 2.5rem;
	color: white;
	text-align: center;

}

.parallax_description a:hover {
	color: #52BAD5;
	background-color: #ffffff;
}



.world {
	display: flex;
	flex-direction: column;
	
}

.support {
	
	font-weight: bold;

}

.banner .photopromo img{
	width: 70%;
	height: auto;

}

footer, .footer_column {
	width: 90vw;
	height: 15vh;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.footer_column h3, .footer_column p {
	font-size: .9rem;
	color: black;
	margin: auto;
	text-align: center;
}

.map {
	min-width: 200px;;
	width: 70%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.store_title {
	text-align: center;
}

.store_title h1 {
	font-size: 2rem;
	color: rgb(0, 0, 0);
}

.store_banner {
	width: 90vw;
	height: 50vh;
	background-color: var(--text2);
	border-bottom: 1px solid var(--navbar);
	border: 1px solid #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;     
	
}

.shop_text_store {
	margin: auto;
	height: auto;
}

.shop_text_store h2 {
	color: #FFFFFF;
	text-align: center;
	font-size: 1.2rem;
}

.parallax_description_store {
	display: flex;
	flex-direction: column;
	
}

.parallax_description_store a {
	color: #ffffff;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	
	font-weight: bold;
	border: 2px solid;
	border-color: #ffffff;
	font-size: 1rem;
	
}

.banner .world_container {
	align-items: center;
	text-align: center;
}

.world_container .world {
	width: 50%;
}

.world_container a {
	width: 50%;
}

.shop_text_store h2 {
	margin-top: 2%;
	margin-bottom: 2%;
}

.store_price {
	color:#FFFFFF;
	
}

.parallax_description_store a:hover {
	color: #52BAD5;
	background-color: #ffffff;
	
}

.parallax_store {
	font-size: 1.2rem;
}

.sites .siteMap{
	text-align: center;
	align-items: center;
	padding: 0px;
}

.sites ol {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	gap: 10px;
}

.sites ol li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}	

.sites ol li a {
	text-decoration: none;
	text-align: center;
}



.header_2 ol {
	clear: both;
	transition: max-height .2s ease-out;
  }





  .header_2 .menu-icon {
	cursor: pointer;
	user-select: none;
	display: none;
	width: 5%;
	padding: 20px;
  }
  
  .header_2 .menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header_2 .menu-icon .navicon:before,
  .header_2 .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header_2 .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header_2 .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header_2 .menu-btn {
	display: none;
  }
  
  
  
  .header_2.menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header_2 .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header_2 .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header_2 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header_2 .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
	
  }

  






@media (min-width: 768px)and (max-width: 1096px) {
	.header_1 .logo_star_button, .header_1 .title_button, .header_1 .skip {
		width: 14%;
		height: auto;
		padding: 0px;
		
	
		margin-left: 0px;
		margin-right: 0px;
	
		display: flex;               
		justify-content: center;     
		align-items: center;         
	}

	.hero_home {
		width: 90vw;
		height: 60vh;
		background-color: var(--text1);
		border-bottom: 1px solid var(--navbar);
		border: 1px solid #FFFFFF;
		display: flex;
		flex-direction: column;
		justify-content: center;     
		align-items: center;         
		
	}

	.banner {
		height: 80vh;
		flex-direction: column;
	}

	.shop_text {
		justify-content: start;
	}

	.parallax_description a {
		font-size: 1.5rem;
	}

	.store_banner {
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 50px;
		height: 150vh;
	}

	.header_1 .logo_star_button {
		order: 1;
		display: flex;
		justify-content: left;
		
	}
	

	

}







@media (min-width: 321px)and (max-width: 767px) {
	.header_1 .logo_star_button, .header_1 .title_button, .header_1 .skip {
		width: 25%;
		height: auto;
		padding: 0px;
		margin-left: 0px;
		margin-right: 0px;
		display: flex;              
		justify-content: center;     
		align-items: center;        
	}

	.container_1 {
		width: 90vw;
		height: 60vh;
		background-color: var(--text1);
		border-bottom: 1px solid var(--navbar);
		border: 1px solid;
		display: flex;
		flex-direction: column;
		justify-content: center;     
		align-items: center;        
		
	}

	.banner {
		height: 90vh;
		flex-direction: column;
	}

	.shop_text {
		justify-content: start;
	}

	.parallax_description a {
		font-size: 1.5rem;
	}

	.store_banner {
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 50px;;
		height: 170vh;
	}

	.header_1 .logo_star_button {
		order: 1;
		display: flex;
		justify-content: left;
		
	}

	.header_2 ol {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	

	.header_2 .menu-icon {
		display: flex;
		justify-content: center;
		width: auto;
		
		
	}

	.header_2 nav {
		height: 0px;
	}

	.header_2 .menu-btn:checked ~ nav{
		height: 500px;
	}

	


	.header_2 li {
		float: left;
	}
	.header_2 li a {
	padding: 20px 30px;
	}
	.header_2 .menu {
	clear: none;
	float: right;
	max-height: none;
	}

	.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}
	

}

:root {
	--background: #fefae0;
	--navbar: #d4a373;
	--text1: #FAEDCD;
	--text2: #ccd5ae;
}

