@charset "UTF-8";
/* Body */
body {
	font-family: Verdana;
	background-color: var(--background);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
